body{
    background-image: url(students.jpg);
    background-size: cover;
    text-emphasis-color: orange;
     
}
h2{
color:blue;
text-align: center;
}
.navbar{
background-color: orange;
width: 100%;
height: 40px;
}
.navbar ul{
list-style-type: none;
text-align: center;
padding-top: 10px;
margin: 0;
}
.navbar ul li{
display: inline-block;
}
.navbar ul li a{
text-decoration: none;
padding: 60px;

}
.navbar ul li a:hover{
color:lightgray;
}

#container {
    background-color: rgba(0,0,0,049.98%);
    width: 98%;
    height: 600px;
    padding: 1%;
}
.smaller_left{
    background-color:rgba(0,0,0,0.8);
    height: 597px;
    width:49.5%;
    float:left;
    color: tomato;
}
.smaller_right{
    background-color: rgb(240,182,75);
    height: 597px;
    width:49.5%;
    float:right;
}
h3{
    font-size: 24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container2 {
    
    width: 98%;
    height: 600px;
    padding: 1%;
}
.smaller_left2{
    background-color:rgb(240, 182, 75);
    height: 597px;
    width:49.5%;
    float:left;
}
.smaller_right2{
    background-color:rgba(0,0,0,0.8);
    height: 597px;
    width:49.5%;
    float:right;
    color: white;
}
.form input{
    display: inline-block;
    height: 40px;
    border-radius: 15px;
    margin: 20px;
    width: 50px;
}
form{
    margin-left: 30%;
    margin-right: 0;
    background-color: rgba(0,0,0,0.8);
    background-position: center;
    position:absolute;
    color: white;
    font-size: 30;
    border-radius: 50px;
}

.form2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn{
    background-position: center;
}
